[submodule "nvim/lua/dev/nyafi"]
	path = nvim/lua/dev/nyafi.nvim
	url = git@github.com:periaate/nyafi.nvim.git
[submodule "lua/dev/nyafi.nvim"]
	path = lua/dev/nyafi.nvim
	url = git@github.com:periaate/nyafi.nvim.git
